
<div class="justify-content-center mt-4">
  <h2>Portfolio</h2>
  <div class="first hero">
    <img src="images/image1.jpg" alt="" class="image">
    <div class="text"></div>
    <div class="logo">
      <img src="images/logo.jpg" alt="">
    </div>
    <div class="main-text">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="date">
      <p>30.11.2022</p>
    </div>
    <div class="hero-btn">
      <a href="#">Learn More</a>
    </div>
  </div>
  
  <div class="second hero">
    <img src="images/image2.png" alt="" class="image">
    <div class="text"></div>
    <div class="logo">
      <img src="images/logo.jpg" alt="">
    </div>
    <div class="main-text">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="date">
      <p>30.11.2022</p>
    </div>
    <div class="hero-btn">
      <a href="#">Learn More</a>
    </div>
  </div>
  
  <div class="first hero">
    <img src="images/image1.jpg" alt="" class="image">
    <div class="text"></div>
    <div class="logo">
      <img src="images/logo.jpg" alt="">
    </div>
    <div class="main-text">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="date">
      <p>30.11.2022</p>
    </div>
    <div class="hero-btn">
      <a href="#">Learn More</a>
    </div>
  </div>
</div>