<app-navbar></app-navbar>
<section id="hero" class="hero section">
    <div class="video-background-container">
      <video class="video-background" autoplay muted loop >
        <source src=".//public/video/Sequence 01.webm" type="video/webm">
        <source src=".//public/video/Sequence 01.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  
    <div class="container text-center position-relative">
      <div class="d-flex align-items-center justify-content-center text-center position-relative">
        <div class="overlay-content">
          <h1>Crazex Studio</h1>
          <h4>Coming Soon...</h4>
        </div>
      </div>
    </div>
    <!-- <img src=".//public/img/logo.png" alt=""> -->
  </section>
<app-home></app-home>
<app-about></app-about>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>